---
import LatestEpisode from "../components/LatestEpisode.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header
    class="relative pt-24 pb-20 overflow-hidden flex flex-col-reverse md:flex-row items-center justify-between container mx-auto md:px-0 px-3"
  >
    <div class="max-w-2xl">
      <p class="text-xl text-[#EBE9E9] mb-3">It's just a podcast</p>
      <h1 class="text-6xl mb-4">Reality With a Twist</h1>
      <p class="text-2xl text-[#DADADA] font-medium">
        A bi-weekly podcast born out of the rust belt of America, brought to you
        by 5 idiots with microphones!
      </p>
    </div>
    <div>
      <img src="/headphones.png" class="w-72" />
    </div>
  </header>
  <main>
    <section
      class="container mx-auto md:px-0 px-3 mb-16 md:mb-32 flex flex-col"
    >
      <h2 class="text-center text-4xl font-medium mb-2">Latest Episode</h2>
      <p class="text-center mb-12 text-gray-300">
        New episodes every other week
      </p>

      <LatestEpisode />

      <a
        href="https://rss.com/podcasts/realitywithatwist/"
        class="text-center mx-auto px-8 py-2 bg-gradient-to-r from-[#1FA4CE] to-[#1e90b3] rounded-full text-lg font-medium hover:scale-105 focus:scale-105 transition-transform outline-none"
        >Listen to our other Episodes</a
      >
    </section>

    <section class="container mx-auto md:px-0 px-3 mb-16 md:mb-32">
      <div class="grid gap-12 md:gap-0 md:grid-cols-3 text-center">
        <article>
          <p class="font-medium">
            "I eat rust for breakfast, lunch and dinner. Stop the steal!"
          </p>
          <p class="text-[#D9D9D9]">- Average Hoosier, Apple Podcast</p>
        </article>
        <article>
          <p class="font-medium">
            "Work it, Gabe! Can we have Gunnar with the computer voice back? I
            liked computer-Gunnar better..."
          </p>
          <p class="text-[#D9D9D9]">- Soundcloud Rapper, Soundcloud</p>
        </article>
        <article>
          <p class="font-medium">
            "Reality With a Twist make the most boring topics even more boring.
            10/10 great podcast, would listen again."
          </p>
          <p class="text-[#D9D9D9]">- A guy from Norway, Spotify</p>
        </article>
      </div>
    </section>
  </main>

  <footer class="container mx-auto md:px-0 px-3">
    <article class="mb-16 md:mb-24">
      <div
        class="border-2 border-white border-opacity-20 py-16 flex justify-center px-3 rounded-xl"
      >
        <div class="max-w-3xl flex flex-col">
          <h2 class="text-4xl font-medium text-center mb-2">
            About the Podcast
          </h2>
          <p class="mb-12 text-gray-300 text-center">
            Join Gabriel, Gunnar, Dylan, Ben, and Jeremy as we make life's most
            boring topics fascinating.
          </p>
          <p class="mb-3 text-center">
            Here at Reality With a Twist we're always searching for new boring
            topics to make fascinating, with topics like:
          </p><ul class="list-disc ml-8 mb-3">
            <li>The highest ranked state flag</li><li>
              Fallen cities of the rust belt
            </li><li>High school lunches</li>
            <li class="text-gray-300">Your topic here?</li>
          </ul><p class="mb-8 text-center">
            Whether you've got a boring topic, content ideas or want your brand,
            music or content in our podcast use the button below to reach out
            and we'll get back to you as soon as possible!
          </p>
          <a
            href="mailto:contact@rwatpod.com"
            class="self-center text-center bg-gradient-to-r from-[#9c45ad] to-[#a452db] px-8 py-2 text-lg rounded-full font-medium hover:scale-105 focus:scale-105 transition-transform outline-none"
            >Contact Us</a
          >
        </div>
      </div>
    </article>

    <p class="text-center mb-8">
      Website made with ❤️ by a <a href="https://halland.tech" class="underline"
        >guy from Norway</a
      >!
    </p>
  </footer>
</Layout>
